//
//  Config-PROD.xcconfig
//  Kinomania
//
//  Created by Vasia Vertiporoh on 27/06/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ENVIRONMENT = prod
APP_NAME = Kinomania
APP_BUNDLE_ID = vasia.vertiporoh.com.kinomania
APP_VERSION = 1.0
BASE_URL = https:/$()/api.themoviedb.org/
API_KEY = 09189f726da5a959406d93670d566375
